/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* Barra de navegación */
/* Estilos para la barra de bienvenida */
.navbar {
    padding: 10px; /* Espaciado interno */
    display: flex; /* Mostrar elementos en línea */
    justify-content: space-between; /* Alinear los elementos a los extremos */
    align-items: center; /* Centrar verticalmente */
}

.navbar_admin{
    background-color: #168300; /* Color de fondo, puedes cambiarlo según tu preferencia */
    color: #fff; /* Color del texto */
}

.navbar_empleado{
    background-color: #007bff; /* Color de fondo, puedes cambiarlo según tu preferencia */
    color: #fff; /* Color del texto */
}

.navbar a {
    color: #fff; /* Color del enlace en la barra de navegación */
    text-decoration: none; /* Sin subrayado de enlaces */
    margin-left: 20px; /* Espacio entre enlaces */
}

.navbar a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilos para el botón de Cerrar Sesión */
.navbar a.btn-cerrar-sesion {
    background-color: #fff; /* Color de fondo del botón */
    color: #007bff; /* Color del texto del botón */
    border: 1px solid #007bff; /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
    margin-right: 20px; /* Espacio entre el botón y otros enlaces */
    text-decoration: none; /* Sin subrayado */
}

.navbar a.btn-cerrar-sesion:hover {
    background-color: #007bff; /* Color de fondo al pasar el ratón */
    color: #fff; /* Color del texto al pasar el ratón */
    text-decoration: none; /* Sin subrayado al pasar el ratón */
}


/* Formularios */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/* Enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Mensajes de error */
.error-message {
    color: #ff0000;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Estilos del formulario de inicio de sesión */
/* Estilos del formulario de inicio de sesión */
/* Estilos del formulario de inicio de sesión */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 10%; /* Espacio desde la parte superior */
    margin-bottom: 50px; /* Espacio desde la parte inferior */
    padding-left: 30px; /* Espacio desde el borde izquierdo */
    padding-right: 30px; /* Espacio desde el borde derecho */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px; /* Espacio desde el título hasta el contenido */
}

.login-form {
    margin-top: 20px;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

/* Estilo para el footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


footer p {
    margin: 0;
}

